* {
  cursor: none !important;
}

.animation-fly {
  position: absolute;
  pointer-events: none;
  width: 40px;
  height: 40px;
  bottom: 0px;
  /* animation: floatingAnimation 3s ease-out 1; */
  /* animation-fill-mode: forwards; */
}

/* 
@keyframes floatingAnimation {
  0% {
    opacity: 1;
    left: 0px;
    bottom: 0px;
  }

  25% {
    opacity: 0.75;
    left: 10px;
    bottom: 50px;
  }

  50% {
    opacity: 0.50;
    left: 0px;
    bottom: 100px;
  }

  100% {
    opacity: 0;
    left: 10px;
    bottom: 150px;
    display: none;
  }
} */